/* <!------------------------------------------------------------------------------------------------------------------------------------> */
/* //SECTION Helper styling Start */
:root{
    --main-color:#009ad8;
    --bd-color:#121212;
    --secondary-bg:#161616; /*Elements*/
    --text:white;   
    --secondary-text:grey;
    --font: "Roboto",  sans-serif;
}
* {
    box-sizing: border-box;
}
body{
    background: var(--bd-color);
    font-family: var(--font);
    color: var(--text);
}
h2{
    color: var(--text)
}
/*  //SECTION Helper styling End */
/* <!------------------------------------------------------------------------------------------------------------------------------------> */
/*  //SECTION Header styling Start */

header .layer{
    background-color: var(--bd-color);
    color: white;
    width: 100%;
}
.form-control::placeholder{
    color: var(--secondary-text) !important;

}
header .layer .container input{
    width: 89%;
    background-color: var(--secondary-bg);
    caret-color:var(--text);
    color:var(--text);
    font-size: 0.8rem;
    margin: auto;

}
.form-control:focus {
box-shadow: none;
}
header .layer .container input::placeholder {
    color: var(--text) !important;
    font-size: 0.8rem;
}
header .layer .container .find-location #searchIcon{
    position: absolute;
    top:13.5%;
    left: 15%;
}
header .layer .container button{
    position: absolute;
    background-color: var(--main-color);
    top:5px;
    right:4.7em;
    bottom: 5px;
    padding: 0 2.5rem;
    font-size: 0.9rem;
}
header .layer .forecast-table .container{
    color: var(--secondary-text);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
header .layer .forecast-table .container .row {
    min-width: 100%;
}
#today{
    background-color: var(--secondary-bg);
    margin-right: 1rem;
}
header .layer .forecast-table .forecast-container{
    color: #bfc1c8;
    width: 90%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
header .layer .forecast-table .forecast {
font-size: 0.9rem;
color: white;
text-align: center;
}
header .layer .forecast-table .animate{
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

header .layer .forecast-table .animate:hover{
    transform: translateY(1.25rem);
}
#todayWindDirection{
    font-size: 0.7rem;
}
#todayHumidity{
text-align: center;

}
.forecast-container .forecast .today .location {
    font-size: 1.2857142857em;
    font-weight: 400;
}
.forecast-container .forecast .forecast-content .degree {
    font-size: 1rem;
    font-weight: 200;
}
.forecast-container .forecast.today .degree .num {
    font-size: 5.5rem;
    line-height: 5rem;
    font-weight: 300;
    font-family: var(--font);
}
.forecast-container .forecast.today .degree .num  sup{
    font-weight: 200;
    font-size: 3.5rem;

}
.forecast-container .forecast.today .degree .num, .forecast-container .forecast .today .degree .forecast-icon {
    display: inline-block;
    vertical-align: middle;
}
.feels{
    color: var(--main-color);
    font-size: 0.9rem;
}

/*  //!SECTION Header styling End */
/* <!------------------------------------------------------------------------------------------------------------------------------------> */

